node_modules/
client/node_modules/
server/node_modules/
.env
client/.env
server/.env
.vscode/
.DS_Store
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.tmp/
dist/
client/dist/
server/dist/
coverage/
